* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width : 100% ;
    height : 100%;
    background-color: #074331;
    color: #ea4b75;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
/* body::-webkit-scrollbar { 
    display: none;
} */

header{
    width : 100%;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height : 80px;
    width : 100%;
    background-color: #0c392c;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
    color : #ea4b75;
}

.left {
    font-size: 1.5rem;
    margin : 1rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}
/* .firstSection>div{
    width: 30%;
} */

.leftSection {
    font-size: 2rem;
    padding-left: 13%;
    width : 50%;
}

.rightSection{
    width : 50%;
}

.rightSection img{
    margin : 0 5rem 0 5rem;
    width : 50%;
}

.purple {
    color: #08B2E3;
}

ul li a {
    text-decoration: none;
    color: #ea4b75;
}

ul li a:hover {
    color: rgb(154, 154, 236);
    font-size: 1.01rem;
}

#element {
    color: #08B2E3;
}

.secondSection {
    display : flex;
    justify-content: space-between;
    align-items: start;
    max-width: 80vw;
    margin: 3rem 8rem;
    flex-wrap: wrap;
}

main hr {
    border: 0;
    background-color: rgb(69, 51, 172);
    height: 1.2px;
    margin: 60px 84px;
}

.secondSection .work-expo {
    font-size: 1.2rem;
    width : 100vw;
    line-height: 2rem;
}

.text-gray {
    margin-left : 0.2rem;
    color: #245181;
    font-size: 1.2rem;;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title {
    height : 14rem;
    margin : 2rem;
    width: 10rem;
    font-size: 1rem;
    padding-top: 0.5rem;
    text-align: center; 
    color : #31985d;
    border : 0.1rem solid #37c2a9;
    border-radius: 4%;
}

.vertical-desc {
    text-align: left;
    padding : 0.8rem;
    color: gray;
    width: 150px;
    font-size: 0.6rem;
}

footer {
    background-color: #042c21;
    color : #ea4b75;
    position: relative;
}

.footer {
    width : 100vw;
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer>div {
    width: 100vw;
}

footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 15px;
}

.leftSection .btn {
    background-color: #CE6C47;
    color: white;
    margin: 50px 5px;
    padding: 5px 10px 5px 3px;
    border-radius: 7px;
}

footer div ul li{
    list-style: none;
}

.footer-fourth{
    font-size: 18px;
}

footer div ul li a{
    color : rgb(79, 76, 76);
}
.separator{
   height : 0.1rem;
   width : 7rem;
   margin : 0.8rem 1.5rem;
   background-color: #37c2a9;
}

@media (width <= 600px){
   
    nav {
       width: 100%;
    }

    nav .left{
        margin : 0;
        padding : 0;
    }

    .firstSection {
        display: flex;
        justify-content: start;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .leftSection{
        width : 100%;
        padding : 1.6rem;
    }
    .rightSection{
        width : 100%;
    }
    .rightSection img{
        width : 90vw;
        margin : 1rem 1.5rem 1rem 1.5rem;
    }
    nav ul {
        display : none;
    }
    .secondSection {
        display : flex;
        justify-content: center;
        align-items: start;
        max-width: 80vw;
        margin: 3rem 8rem;
        flex-wrap: wrap;
    }
    .secondSection .work-expo {
        font-size: 1.1rem;
    }
    main hr{
        width : 80%;
        margin : auto;
        background-color: #81d9a7;
    }
    .vertical-title {
        height : 14rem;
        margin : 2rem 0 1rem 0;
        width: 10rem;
        font-size: 1rem;
        padding-top: 0.5rem;
        text-align: center; 
        color : #31985d;
        border : 0.1rem solid #37c2a9;
        border-radius: 4%;
    }
    .footer {
        width : 100vw;
        display: flex;
        flex-direction: column;
        padding: 23px 0 23px 15px;;
        justify-content: space-evenly;
    }
    .footer .footer-first{
        font-size: 1.3rem;
    }
    .footer-first h3{
        margin : 10px 10px;
    }
    .footer .footer-second{
        margin : 1rem 0 0 1rem;
    }

    .footer .footer-third{
        margin : 1rem 0 0 1rem;
    }

    .footer .footer-fourth{
        margin : 1rem 0 0 1rem;
    }

    .footer .footer-fourth ul{
        display : flex;
    }

    .footer-fourth ul li{
        margin : 0.5rem 0.5rem 0 0;
    }
}